<h1 appMyfirstdirective>This is home component!<br>(color applied using custom <b>directive</b>)</h1>
<hr>
<hr>
<h3>Data projection: Below data is projected from parent to child component:</h3>
<app-child>
    <h1 class="headerpart">Head</h1>
    <h1 class="bodypart">Body...........</h1>
</app-child>
<hr>
<hr>
<h3>This is PIPE implementation in angular</h3>
<h3>Below data coming from PIPE: myfirstpip</h3>
<!-- mainly used for data trsnsformations, like string to int or vise-versa -->
<h3>{{"Mr." | myfirstpip:"Manjunath":"KO"}}</h3>
<hr>
<hr>
<h2>Below color is coming from animations of this component</h2>
<div>
    <p [@myAnimations]="color">This color applied using animations</p>
    <button (click)="changeFontColor()">Change above text color</button>
</div>
<hr>
<hr>